<div class="content-wrapper">
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <div class="page-title-box-admin page-title-box-sec">
              <h4 class="pageTitle admin pageTitle-sec">Notifications</h4>
            </div>
          </div>
        </div>
        <div class="notification-sec">
          <div class="spinner-section" *ngIf="loader">
            <mat-spinner *ngIf="loader"></mat-spinner>
          </div>
  
          <div class="row">
            <div class="col-md-12">
              <div class="card cardTable">
                <div class="card-body add-product-list table-responsive">
                  
                  <ag-grid-angular
                    style="width: 100%"
                    class="ag-theme-alpine"
                    [rowData]="buyersData"
                    [gridOptions]="gridOptions"
                    (gridReady)="onGridReady($event)"
                    [defaultColDef]="defaultColDef"
                    [frameworkComponents]="frameworkComponents"
                    [columnDefs]="columnDefs"
                    domLayout="autoHeight"
                  >
                  </ag-grid-angular>
                  <mat-paginator
                  [length]="totalCount"
                  (page)="paginate($event)"
                  [pageSize]="count"
                  [pageSizeOptions]="[5, 10, 15, 20, 50, 100]"
                  showFirstLastButtons
                >
                </mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  