<div class="content-wrapper">
    <div class="spinner-section" *ngIf="loader">
        <mat-spinner *ngIf="loader"></mat-spinner>
    </div>
    <div class="wrapper-main-heading">
        <div class="main-title">
            <h2>View Clinic</h2>
            <div class="add_new_user">
                <a class="backLink" title="Back" (click)="goBack()">
                    <i class="material-icons">chevron_left</i> Back
                </a>
            </div>
        </div>
    </div>

    <div class="common-background">
        <div class="edit-info">

            <div class="lawyer-info-sections">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="example-form">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group" *ngIf="clinicDetails">
                                            <mat-form-field class="example-full-width">
                                                <span matPrefix>
                                                    <i class="material-icons">person </i>
                                                </span>
                                                <input type="text" matInput placeholder="Name" value="{{clinicDetails.name}}" readonly>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group" *ngIf="clinicDetails">
                                            <mat-form-field class="example-full-width">
                                                <span matPrefix>
                                                    <i class="material-icons">person </i>
                                                </span>
                                                <input type="text" matInput placeholder="Firm Name" value="{{clinicDetails.registration_no}}" readonly>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group" *ngIf="clinicDetails">
                                            <mat-form-field class="example-full-width">
                                                <span matPrefix>
                                                    <i class="material-icons">phone</i>
                                                </span>
                                                <input type="text" matInput placeholder="Personal number" value="{{clinicDetails.contact}}" readonly>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group" *ngIf="clinicDetails">
                                            <mat-form-field class="example-full-width">
                                                <span matPrefix>
                                                    <i class="material-icons">email</i>
                                                </span>
                                                <input type="text" matInput placeholder="Address" value="{{clinicDetails.address}}" readonly>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>