<div class="content-wrapper">
    <div class="spinner-section" *ngIf="loader">
        <mat-spinner *ngIf="loader"></mat-spinner>
    </div>
    <div class="wrapper-main-heading">
        <div class="main-title">
            <h2>Add Clinic</h2>
            <div class="add_new_user">
                <a class="backLink" title="Back" (click)="goBack()">
                    <i class="material-icons">chevron_left</i> Back
                </a>
            </div>
        </div>
    </div>

    <div class="common-background">
        <div class="edit-info">
            <form [formGroup]="firstFormGroup" class="example-form">
                <ng-template matStepLabel>Fill Clinic information</ng-template>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="space-btw-inputext">
                                <mat-form-field class="example-full-width required">
                                    <span matPrefix>
                                        <i class="material-icons">person
                                        </i>
                                    </span>
                                    <input type="text" matInput placeholder="Clinic Name" formControlName="name">
                                </mat-form-field>
                                <div class="error-msg" *ngIf="firstFormGroup.controls['name'].dirty && firstFormGroup.controls['name'].invalid">
                                    <p class="form_error" *ngIf="firstFormGroup.controls['name'].dirty && firstFormGroup.controls['name'].hasError('required')">Please enter Clinic name</p>
                                    <p class="form_error" *ngIf="firstFormGroup.controls['name'].dirty && firstFormGroup.controls['name'].hasError('pattern')">Please enter the correct Clinic name.(should be of 3 to 16 characters)</p>
                                    <p class="form_error" *ngIf="firstFormGroup.controls['name'].dirty && firstFormGroup.controls['name'].hasError('minlength')">Please enter atleast 3 characters</p>
                                    <p class="form_error" *ngIf="firstFormGroup.controls['name'].dirty && firstFormGroup.controls['name'].hasError('maxlength')">Maximum 16 characters are allowed</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="space-btw-inputext">
                                <mat-form-field class="example-full-width required">
                                    <span matPrefix>
                                        <i class="material-icons">person
                                        </i>
                                    </span>
                                    <input type="text" matInput placeholder="Registration No." formControlName="registration_no">
                                </mat-form-field>
                                <div class="error-msg" *ngIf="firstFormGroup.controls['registration_no'].dirty && firstFormGroup.controls['registration_no'].invalid">
                                    <p class="form_error" *ngIf="firstFormGroup.controls['registration_no'].dirty && firstFormGroup.controls['registration_no'].hasError('required')">Please enter Registarion number</p>
                                    <p class="form_error" *ngIf="firstFormGroup.controls['registration_no'].dirty && firstFormGroup.controls['registration_no'].hasError('minlength')">Please enter atleast 3 characters</p>
                                    <p class="form_error" *ngIf="firstFormGroup.controls['registration_no'].dirty && firstFormGroup.controls['registration_no'].hasError('maxlength')">Maximum 16 characters are allowed</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="space-btw-inputext">
                                <mat-form-field class="example-full-width required">
                                    <span matPrefix>
                                        <i class="material-icons"> phone</i>
                                    </span>
                                    <input type="text" matInput placeholder="Phone No. " formControlName="contact">
                                </mat-form-field>
                                <div class="error-msg" *ngIf="firstFormGroup.controls['contact'].dirty && firstFormGroup.controls['contact'].invalid">
                                    <p class="form_error" *ngIf="firstFormGroup.controls['contact'].dirty && firstFormGroup.controls['contact'].hasError('required')">Please enter contact number</p>
                                    <p class="form_error" *ngIf="firstFormGroup.controls['contact'].dirty && firstFormGroup.controls['contact'].hasError('pattern')">Please enter the correct contact number e.g 123-456-7896</p>
                                    <p class="form_error" *ngIf="firstFormGroup.controls['contact'].dirty && firstFormGroup.controls['contact'].hasError('minlength')">Please enter atleast 10 digit contact number</p>
                        <p class="form_error" *ngIf="firstFormGroup.controls['contact'].dirty && firstFormGroup.controls['contact'].hasError('maxlength')">Maximum 10 digit contact number is allowed</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="space-btw-inputext">
                                <mat-form-field class="example-full-width required">
                                    <span matPrefix>
                                        <i class="material-icons">
                                            stay_primary_portrait</i>
                                    </span>
                                    <input type="text" matInput placeholder="Address " formControlName="address">
                                </mat-form-field>
                                <div class="error-msg" *ngIf="firstFormGroup.controls['address'].dirty && firstFormGroup.controls['address'].invalid">
                                    <p class="form_error" *ngIf="firstFormGroup.controls['address'].dirty && firstFormGroup.controls['address'].hasError('required')">Please enter address</p>
                                    <p class="form_error" *ngIf="firstFormGroup.controls['address'].dirty && firstFormGroup.controls['address'].hasError('pattern')">Please enter the correct address</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-right">
                    <!-- [disabled]="!firstFormGroup.valid" -->
                    <button  class="next-btn " (click)="addClinics()">Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>