<div class="content-wrapper">
    <div class="spinner-section" *ngIf="loader">
        <mat-spinner *ngIf="loader"></mat-spinner>
    </div>
    <div class="wrapper-main-heading">
        <div class="main-title">
            <h2>Edit Country</h2>
            <div class="add_new_user">
                <a class="backLink" title="Back" (click)="goBack()">
                    <i class="material-icons">chevron_left</i> Back
                </a>
            </div>
        </div>
    </div>

    <div class="common-background">
        <div class="edit-info">
            <form [formGroup]="editCountryForm" class="example-form">
                <ng-template matStepLabel>Fill Country information</ng-template>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="space-btw-inputext">
                                <mat-form-field class="example-full-width required">
                                    <span matPrefix>
                                        <i class="material-icons">person
                                        </i>
                                    </span>
                                    <input type="text" matInput placeholder="Country Name" formControlName="name">
                                </mat-form-field>
                                <div class="error-msg" *ngIf="editCountryForm.controls['name'].dirty && editCountryForm.controls['name'].invalid">
                                    <p class="form_error" *ngIf="editCountryForm.controls['name'].dirty && editCountryForm.controls['name'].hasError('required')">Please enter Country name</p>
                                    <p class="form_error" *ngIf="editCountryForm.controls['name'].dirty && editCountryForm.controls['name'].hasError('pattern')">Please enter the correct Country name.(should be of 3 to 16 characters)</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="space-btw-inputext">
                                <mat-form-field class="example-full-width required">
                                    <span matPrefix>
                                        <i class="material-icons">person
                                        </i>
                                    </span>
                                    <input type="text" matInput placeholder="Code" formControlName="code">
                                </mat-form-field>
                                <div class="error-msg" *ngIf="editCountryForm.controls['code'].dirty && editCountryForm.controls['code'].invalid">
                                    <p class="form_error" *ngIf="editCountryForm.controls['code'].dirty && editCountryForm.controls['code'].hasError('required')">Please enter Registarion number</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-right">
                    <!-- [disabled]="!editCountryForm.valid" -->
                    <button  class="next-btn " (click)="editCountry()">Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>