<!-- <section class="login login-page">
    <div class="loginBox">
        <div class="loginBoxLeft">
            <div class="loginLeftText">
                <h2>Create Password</h2>
                you have already an account <a [routerLink]="['/']"> Login</a>
            </div>
        </div>
        <div class="loginBoxRight">
            <div class="loginLogo">
                <img src="../assets/img/login_logo.png" alt="">
            </div>
            <h5>Please enter password to get login into system</h5>
            <form class="example-form" [formGroup]="createpasswordForm" (ngSubmit)="createPassword()">
                <div class="space-btw-inputext">
                    <mat-form-field class="example-full-width">
                        <span matPrefix>
                          <i class="material-icons">lock</i>
                        </span>
                        <input type="password" matInput placeholder="Password" formControlName="password">
                    </mat-form-field>
                    <div class="error-msg" *ngIf="createpasswordForm.controls['password'].dirty && createpasswordForm.controls['password'].invalid">
                        <p class="form_error" *ngIf="createpasswordForm.controls['password'].hasError('required')">Please enter password</p>
                        <p class="form_error" *ngIf="createpasswordForm.controls['password'].dirty && createpasswordForm.controls['password'].hasError('pattern')">Password should be of 6 letters and contain atleast one Capital letter, alphanumeric a-z,0-9 and one special character
                        </p>
                    </div>
                </div>
                <div class="option_text text-right">
                    <div class="forgot_password">
                        <span>You have already an account<a [routerLink]="['/login']">Login?</a></span>
                    </div>
                </div>

                <div class="text-right">
                    <button type="submit" [disabled]="!createpasswordForm.valid" mat-raised-button color="primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section> -->
<div class="spinner-section" *ngIf="loader">
  <mat-spinner *ngIf="loader"></mat-spinner>
</div>

<section class="login-section">
  <div class="login-section-inner">
    <!-- <div class="loginLeftText">
                <h2>Forget Password</h2>
                you have already an account <a [routerLink]="['/']"> Login</a>
            </div>
        </div> -->
    <div class="login-left">
      <!-- <div class="loginLeftText">
                <h2 *ngIf="lawfirmText">Brand Expand Sign up</h2>
              
                Already have an account? <a [routerLink]="['/login']">Log in</a>
            </div> -->
      <img src="../../assets/img/login-logo.png" />
    </div>
    <div class="login-right login-right-sec">
      <!-- <div class="loginLogo">
                <img src="../assets/img/login_logo.png" alt="">
            </div> -->

      <form
        class="example-form"
        [formGroup]="createpasswordForm"
        (ngSubmit)="createPassword()"
      >
        <h2>Please enter password to get login into system</h2>

        <div class="row">
          <div class="col-md-12">
            <div class="">
              <mat-form-field class="example-full-width relative-sec">
                <!-- <span matPrefix>
                                              <i class="material-icons">lock</i>
                                            </span> -->
                <input
                  type="password"
                  matInput
                  placeholder="Password"
                  formControlName="password"
                />
                <img _ngcontent-cgc-c1="" src="../../assets/img/password.png" />
              </mat-form-field>
              <div
                class="error-msg"
                *ngIf="
                  createpasswordForm.controls['password'].dirty &&
                  createpasswordForm.controls['password'].invalid
                "
              >
                <p
                  class="form_error"
                  *ngIf="
                    createpasswordForm.controls['password'].hasError('required')
                  "
                >
                  Please enter password
                </p>
                <!-- <p class="form_error" *ngIf="createpasswordForm.controls['password'].dirty && createpasswordForm.controls['password'].hasError('pattern')">Password should be of 6 letters and contain atleast one Capital letter, alphanumeric a-z,0-9 and one special character
                                            </p> -->
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="sign-up">
              You have already an account ?<a [routerLink]="['/']"
                >Login Here</a
              >
            </div>
          </div>
          <div class="col-md-12">
            <div class="btn-sec">
              <button
                type="submit"
                [disabled]="!createpasswordForm.valid"
                mat-raised-button
                color="primary"
                class="btn-login"
              >
                Submit
              </button>
            </div>
          </div>
        </div>

        <!-- <div class="text-right">
                   
                </div> -->
      </form>
      <!-- <div class="loginLeftText">
                <h2>Create Password</h2>
                you have already an account <a [routerLink]="['/']"> Login</a>
            </div> -->
    </div>
  </div>
</section>
