<div class="content-wrapper">
        <div class="spinner-section" *ngIf="loader">
                <mat-spinner *ngIf="loader"></mat-spinner>
        </div>
    <div class="wrapper-main-heading">
        <div class="main-title">
            <h2>Change password</h2>
            <div class="add_new_user">
                <a class="backLink" title="Back" (click)="goBack()"><i class="material-icons">chevron_left</i> Back</a>
            </div>
        </div>
    </div>

    <div class="change_password">
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" class="example-form">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <mat-form-field class="example-full-width">
                            <span matPrefix> <i class="material-icons"> lock</i></span>
                            <input formControlName="oldPassword" type="password" matInput placeholder="Old Password">
                            <div *ngIf="changePasswordForm.controls['oldPassword'].dirty && changePasswordForm.controls['oldPassword'].invalid">
                                <p class="form_error" *ngIf="changePasswordForm.controls['oldPassword'].dirty && changePasswordForm.controls['oldPassword'].hasError('required')">Please
                                    enter password.</p>
                                <p class="form_error" *ngIf="changePasswordForm.controls['oldPassword'].dirty &&changePasswordForm.controls['oldPassword'].hasError('pattern')">
                                    Please provide valid password.eg Password@12</p>
                            </div>
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <mat-form-field class="example-full-width">
                            <span matPrefix> <i class="material-icons"> lock</i></span>
                            <input formControlName="newPassword" type="password" matInput placeholder="New Password">
                            <div *ngIf="changePasswordForm.controls['newPassword'].dirty && changePasswordForm.controls['newPassword'].invalid">
                                <p class="form_error" *ngIf="changePasswordForm.controls['newPassword'].dirty && changePasswordForm.controls['newPassword'].hasError('required')">Please
                                    enter new password.</p>
                                <p class="form_error" *ngIf="changePasswordForm.controls['newPassword'].dirty &&changePasswordForm.controls['newPassword'].hasError('maxlength')">
                                    Please provide valid password with maximum 20 characters</p>
                                <p class="form_error" *ngIf="changePasswordForm.controls['newPassword'].dirty &&changePasswordForm.controls['newPassword'].hasError('minlength')">
                                    Please provide valid password with minimum 6 characters</p>
                            </div>
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <mat-form-field class="example-full-width">
                            <span matPrefix> <i class="material-icons"> lock</i></span>
                            <input formControlName="newRepassword" type="password" matInput placeholder="Confirm New Password">
                          <div *ngIf="changePasswordForm.controls['newRepassword'].dirty && changePasswordForm.controls['newRepassword'].invalid">
                              <p class="form_error" *ngIf="changePasswordForm.controls['newRepassword'].dirty && changePasswordForm.controls['newRepassword'].hasError('required')">Please
                                  enter new password.</p>
                              <p class="form_error" *ngIf="(changePasswordForm.controls['newRepassword'].dirty && changePasswordForm.controls['newRepassword'].hasError('equalTo') && !changePasswordForm.controls['newRepassword'].hasError('required'))">Please
                                  enter the same new password.</p>
                          </div>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="btnBtmDiv text-right">
                            <button type="submit" [disabled]="!changePasswordForm.valid" class="mR20 next-btn">
                                Update Password</button>
                            <button class="btnOther back-btn"  (click)="goBack()">
                                Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>