<h1 mat-dialog-title>Help text</h1>
<div mat-dialog-content class="add-help-modal">
    <div class="col-sm-12">
       <ul>
           <li>
                <p>
                    <strong>Active Cases</strong>:
                    <span>Assessment or opinion has been assigned to a specialist, pending completion of report or payment.</span>
                </p>
           </li>
           <li>
                <p>
                    <strong>Case Awaiting Action</strong>:
                    <span>Assessment or expert not yet assigned. Medicolegal Express are currently working on your request. If your matter is urgent please contact our team on 1300 299 899.</span>
                </p>
           </li>
           <li>
                <p>
                    <strong>Completed Cases</strong>:
                    <span>Assessment and/or report has been completed.</span>
                </p>
           </li>
       </ul>
    </div>
    
  <!-- <mat-dialog-actions align="end"> -->
      <div class="dialog-btn"  mat-dialog-actions>

          <button mat-button mat-dialog-close>Cancel</button>
      </div>
    <!-- </mat-dialog-actions> -->
</div>