.content-wrapper{
    .common-background{
        .sub-heading{
            padding: 0 10px;
            .example-form{
                display: flex;
                align-items: center;
            }
        }
    }
}

@media(max-width: 1024px){
    .content-wrapper{
        .common-background{
            .sub-heading{
                padding: 0 10px;
                flex-direction: column;
                h2{
                    width: 100%;
                }
                .example-form{
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}
@media(max-width: 992px){
    .content-wrapper{
        .common-background{
            .sub-heading{
                .example-form{
                    flex-direction: column;
                    width: 100%;
                    .cases-filter,
                    mat-form-field{
                        width: 100%;
                    }
                }
            }
        }
    }
}