.display-1 {text-align:center;color:#fff; margin-top: 80px;}
.display-1 .fa {animation:fa-spin 5s infinite linear;}
.display-3 {text-align:center;color:#fff;}
.display-3 {text-align:center;color:#fff;}
.lower-case {text-align:center; color:#fff;}
.lower-case {text-align:center; color:#fff;}
 .bg-pageNotFound{ background: url(../../../../assets/img/148792-OU7MDL-460.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; height: 100vh;;}
.display-1 span{ font-size: 2em;}
.gotohome{
    padding-top: 20px;
}